@font-face {
	font-family: 'Nazanin';
	src: url('font/BNazanin.eot');
	src: url('font/BNazanin.eot?#iefix') format('embedded-opentype'),
		 url('font/BNazanin.woff') format('woff'),
		 url('font/BNazanin.ttf') format('truetype');
	font-weight	: normal;
	font-style	: normal;
	-webkit-font-smoothing	: antialiased;
}
@font-face {
	font-family: 'Titr';
	src: url('font/BTitrBold.eot');
	src: url('font/BTitrBold.eot?#iefix') format('embedded-opentype'),
		 url('font/BTitrBold.woff') format('woff'),
		 url('font/BTitrBold.ttf') format('truetype');
	font-weight	: normal;
	font-style	: normal;
	-webkit-font-smoothing	: antialiased;
}

.cover {
	*zoom: 1;
}
.cover:before,
.cover:after {
	content: " ";
	display: table;
}
.cover:after {
	clear: both;
}
html,body{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

body {
	background-image: url('images/bg.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-color: black;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,.4);
}

div.container {
	width: 980px;
	margin: 0 auto;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-ms-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;
}

figure.logo {
	width: 70px;
	height: 70px;
	margin: 0 auto;
}

hgroup.title {
	margin-top: 5px;
} 
hgroup.title h1,
hgroup.title h3 {
	text-align: center;
	margin: 0;
	font-family: 'Titr';
	font-size: 60px;
}
hgroup.title h1 {
	letter-spacing: 1px;
}
hgroup.title h3 {
	font-size: 25px;
	margin-top: 12px;
}
section.content-container {
	margin-top: 50px;
}
div.content {
	width: 470px;
	margin-top: 105px;
	float: left;
}
div.content h2 {
	font-family: Titr;
	margin: 0;
}
div.content p {
	text-shadow: 1px 1px rgba(0,0,0,.25);
	font-size: 20px;
	margin: 15px 0 0 0;
	line-height: 1.5;
}

div.content span.number {
	direction: ltr;
	display: inline-block;
	margin-left: 25px;
}
div.content p a {
	color: #FFF;
	text-decoration: none;
	cursor: pointer;
}
div.content p a:hover {
	text-decoration: underline;
}
div.bg-holder {
	background-image: url('images/handphone.png');
	background-repeat: no-repeat;
	background-position: 80px 0;
	width: 563px;
	height: 485px;
	position: relative;
}

div.bg-holder figure {
	position: absolute;
	top: 86px;
	right: 190px;
	width: 207px;
	height: 312px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

div.download-btns {
	width: 260px;
	margin: 10px auto 0 auto;
}
div.download-btns a {
	cursor: pointer;
	display: block;
	color: #FFF;
	text-decoration: none;
	padding: 10px;
	font-size: 20px;
	float: left;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-transition: background 400ms;
	-moz-transition: background 400ms;
	-ms-transition: background 400ms;
	-o-transition: background 400ms;
	transition: background 400ms;
}
div.download-btns > a:hover {
	background-color: rgba(0,0,0,.25) !important;
}
div.download-btns > a:first-child {
	margin-right: 15px;
}
div.download-btns a.android {
	background-color: hsl(23, 100%, 47%);
}
div.download-btns a.ios {
	background-color: hsl(23, 100%, 50%);
}
div.download-btns a.github {
	background-color: hsl(110, 50%, 42%);
}
div.download-btns a i {
	font-size: 30px;
}