@font-face {
	font-family: 'Nazanin';
	src: url('font/BNazanin.eot');
	src: url('font/BNazanin.eot?#iefix') format('embedded-opentype'),
		 url('font/BNazanin.woff') format('woff'),
		 url('font/BNazanin.ttf') format('truetype');
	font-weight	: normal;
	font-style	: normal;
	-webkit-font-smoothing	: antialiased;
}
@font-face {
	font-family: 'Titr';
	src: url('font/BTitrBold.eot');
	src: url('font/BTitrBold.eot?#iefix') format('embedded-opentype'),
		 url('font/BTitrBold.woff') format('woff'),
		 url('font/BTitrBold.ttf') format('truetype');
	font-weight	: normal;
	font-style	: normal;
	-webkit-font-smoothing	: antialiased;
}

.cover {
	*zoom: 1;
}
.cover:before,
.cover:after {
	content: " ";
	display: table;
}
.cover:after {
	clear: both;
}

body {
	background-image: url('images/bg.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-color: gray;
	color: #FFF;
}

div.container {
	width: 980px;
	margin: 0 auto;
}

figure.logo {
	width: 70px;
	height: 70px;
	margin: 0 auto;
}

hgroup.title {
	margin-top: -15px;
} 
hgroup.title h1,
hgroup.title h3 {
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0,0,0,.4);
	margin: 0;
	font-family: 'Titr';
}
hgroup.title h1 {
	font-size: 65px;
	letter-spacing: -1px;
}
hgroup.title h3 {
	font-size: 16px;
	margin-top: 8px;
}
section.content-container {
	margin-top: 50px;
}
div.content {
	width: 470px;
	margin-top: 105px;
	float: left;
}
div.content h2 {
	font-family: Titr;
	margin: 0;
}
div.content p {
	text-shadow: 1px 1px rgba(0,0,0,.25);
	font-size: 20px;
	margin: 15px 0 0 0;
	line-height: 1.5;
}

div.content span {
	direction: ltr;
	display: inline-block;
	margin-left: 25px;
}

div.bg-holder {
	background-image: url('images/handphone.png');
	background-repeat: no-repeat;
	background-position: 80px 0;
	width: 563px;
	height: 485px;
	position: relative;
}

div.bg-holder figure {
	position: absolute;
	top: 86px;
	right: 190px;
	width: 207px;
	height: 312px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

div.download-btns div {
	width: 100px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	padding: 0 10px;
	font-size: 20px;
	float: left;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	margin: 20px 15px 0 0;
	-webkit-transition: background 400ms;
	-moz-transition: background 400ms;
	-ms-transition: background 400ms;
	-o-transition: background 400ms;
	transition: background 400ms;
}
div.download-btns div a {
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0,0,0,.4);
	color: #FFF;
	cursor: pointer;
	display: block;
}
div.download-btns div i {
	font-size: 30px;
	float: left;
	line-height: 50px;
}
div.download-btns > div:hover {
	background-color: rgba(0,0,0,.25) !important;
}
div.download-btns > div:first-child {
	margin-left: 0;
}
div.download-btns div.android {
	background-color: hsl(120, 34%, 48%);
}
div.download-btns div.ios {
	background-color: hsl(23, 100%, 50%);
}
div.download-btns div.github {
	background-color: #333;
}